@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Login Form {
  font-size: 14px;
  padding: 2rem 0;
  color: #999;
}