@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup Form {
    margin: 0 auto;
    max-width: 320px;
  }
}

/* .Signup Form span.help-block {
  font-size: 14px;
  padding: 10px 0;
  color: #999;
} */

.Signup Form {
  font-size: 14px;
  padding: 2rem 0;
  color: #999;
}