@media all and (min-width: 480px) {
    .WatchVideo video {
        height: 50vh;
        width: 100vh;
    }
    
    .WatchVideo p {
        white-space: pre-wrap;
    }
}

.WatchVideo video {
    width: 50vh;
    height: 50vh;
}