.App {
  margin-top: 15px;
}

/* .App .navbar-brand {
  font-weight: bold;
} */

.App .navbar-fovies {
  background-color: #F7F7F7;
  border: 2px solid #EAEAEA;
}

.App .user-avatar {
  width: 2rem;
  height: auto;
}